Repository rekrom/adsil-simulation: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, adapter, math, geometry, spatial, core, vehicle, simulation, utils, viewer

codecov.yml:

# Codecov configuration file
# https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 1
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

ignore:
  - "external/**/*"
  - "build/**/*"
  - "cmake/**/*"
  - "docs/**/*"
  - "tools/**/*"
  - "resources/**/*"
  - "**/tests/**"
  - "**/test/**"
  - "**/*Test.cpp"
  - "**/*test.cpp"
  - "**/CMakeLists.txt"
  - "*.md"
  - "*.txt"
  - "*.yml"
  - "*.yaml"
  - "*.json"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

flags:
  unittests:
    paths:
      - modules/
    carryforward: true
  adapter:
    paths:
      - modules/Adapter/
    carryforward: true
  math:
    paths:
      - modules/Math/
    carryforward: true
  geometry:
    paths:
      - modules/Geometry/
    carryforward: true
  spatial:
    paths:
      - modules/Spatial/
    carryforward: true
  core:
    paths:
      - modules/Core/
    carryforward: true
  vehicle:
    paths:
      - modules/Vehicle/
    carryforward: true
  simulation:
    paths:
      - modules/Simulation/
    carryforward: true
  utils:
    paths:
      - modules/Utils/
    carryforward: true
  viewer:
    paths:
      - modules/Viewer/
    carryforward: true

refactor(viewer): OpenGLViewer implements IViewer interface
  modules/Viewer/include/viewer/implementations/OpenGLViewer.hpp
  modules/Viewer/include/viewer/viewer.hpp
Due: unittests, viewer

refactor(simulation): use IViewer interface in SimulationManager
  modules/Simulation/include/simulation/implementations/SimulationManager.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

test(simulation): add IViewer interface tests with MockViewer
  modules/Simulation/tests/IViewerTest.cpp
Due: none

fix(test): set ADSIL_RESOURCE_PATH in IViewerTest for CI
  modules/Simulation/tests/IViewerTest.cpp
Due: none

feat: Implement RAII wrappers for OpenGL resources
  docs/CODE_REVIEW.md
  modules/Viewer/include/viewer/gl/GLResources.hpp
  modules/Viewer/include/viewer/renderables/DeviceRenderable.hpp
  modules/Viewer/include/viewer/renderables/Renderable.hpp
  modules/Viewer/src/renderables/AxisRenderable.cpp
  modules/Viewer/src/renderables/CarRenderable.cpp
  modules/Viewer/src/renderables/DeviceRenderable.cpp
  modules/Viewer/src/renderables/FovPyramidRenderable.cpp
  modules/Viewer/src/renderables/GroundRenderable.cpp
  modules/Viewer/src/renderables/PointCloudRenderable.cpp
  modules/Viewer/src/renderables/ShapeRenderable.cpp
  modules/Viewer/src/renderables/WireframeRenderable.cpp
  resources/scene.json
Due: unittests, viewer

refactor(viewer): apply RAII wrappers to all renderables
  modules/Viewer/src/renderables/AxisRenderable.cpp
  modules/Viewer/src/renderables/CarRenderable.cpp
  modules/Viewer/src/renderables/DeviceRenderable.cpp
  modules/Viewer/src/renderables/FovPyramidRenderable.cpp
  modules/Viewer/src/renderables/GroundRenderable.cpp
  modules/Viewer/src/renderables/PointCloudRenderable.cpp
  modules/Viewer/src/renderables/ShapeRenderable.cpp
  modules/Viewer/src/renderables/WireframeRenderable.cpp
Due: unittests, viewer

feat(viewer): Implement RAII wrappers for OpenGL resource management (#61)
  docs/CODE_REVIEW.md
  modules/Viewer/include/viewer/gl/GLResources.hpp
  modules/Viewer/include/viewer/renderables/DeviceRenderable.hpp
  modules/Viewer/include/viewer/renderables/Renderable.hpp
  modules/Viewer/src/renderables/AxisRenderable.cpp
  modules/Viewer/src/renderables/CarRenderable.cpp
  modules/Viewer/src/renderables/DeviceRenderable.cpp
  modules/Viewer/src/renderables/FovPyramidRenderable.cpp
  modules/Viewer/src/renderables/GroundRenderable.cpp
  modules/Viewer/src/renderables/PointCloudRenderable.cpp
  modules/Viewer/src/renderables/ShapeRenderable.cpp
  modules/Viewer/src/renderables/WireframeRenderable.cpp
  resources/scene.json
Due: unittests, viewer

docs: Enhance documentation for SimulationScene and TransformNode classes
  modules/Simulation/include/simulation/SimulationScene.hpp
  modules/Spatial/include/spatial/implementations/TransformNode.hpp
Due: unittests, spatial, simulation

feat: add Windows compatibility for Logger syslog
  docs/CODE_REVIEW.md
  modules/Core/include/core/Logger.hpp
Due: unittests, core

feat: Add Visual Studio directory to .gitignore
  .gitignore
Due: none

feat: implement asynchronous signal processing and point cloud handling in SimulationManager
  modules/Simulation/include/simulation/implementations/SimulationManager.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

feat: Implement asynchronous frame preloading in FrameBufferManager
  modules/Simulation/include/simulation/implementations/FrameBufferManager.hpp
  modules/Simulation/src/FrameBufferManager.cpp
Due: unittests, simulation

Enhance SimulationManager Tests with Additional Coverage
  modules/Simulation/tests/FrameBufferManagerTest.cpp
  modules/Simulation/tests/SimulationManagerTest.cpp
Due: none

fix: Correct formatting in .gitignore by removing unnecessary newline and adding .cache/
  .gitignore
Due: none
