Repository rekrom/adsil-simulation: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, adapter, math, geometry, spatial, core, vehicle, simulation, utils, viewer

feat: Add unit tests for SignalSolver to validate edge cases and preconditions
  modules/Simulation/tests/SignalSolverTest.cpp
Due: none

feat: Implement SignalSolver2 class to handle signal processing and trilateration
  modules/Simulation/include/simulation/SignalSolver2.hpp
  modules/Simulation/src/SignalSolver2.cpp
Due: unittests, simulation

feat: Remove SignalSolver2 class and its implementation files
  modules/Simulation/include/simulation/SignalSolver2.hpp
  modules/Simulation/src/SignalSolver2.cpp
Due: unittests, simulation

feat: Add hasFrameChanged flag to optimize frame update checks in SimulationManager
  modules/Simulation/include/simulation/implementations/SimulationManager.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

feat: Add logging for default configuration usage in SimulationManager
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

fix: Update fallback resource directory definition in SimulationManager
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

fix: Update resource configuration to use default base path and simplify scene file reference
  modules/Simulation/include/simulation/configs/SimulationConfig.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

fix: Improve error handling in SimulationManager and provide guidance for setting environment variable
  modules/Simulation/src/SimulationManager.cpp
  modules/Simulation/src/configs/SimulationConfig.cpp
Due: unittests, simulation

fix: Define default resource paths and pass them as compile definitions
  CMakeLists.txt
Due: none

fix: Remove default scene file name assertions from resource configuration tests
  modules/Simulation/tests/SimulationConfigTest.cpp
Due: none

fix: Comment out test function calls in main for selective testing
  modules/Simulation/tests/SimulationConfigTest.cpp
Due: none

fix: Set default build type to Release if not specified
  CMakeLists.txt
Due: none

fix: Comment out dirty check in render method for debugging purposes
  modules/Viewer/src/renderables/FovPyramidRenderable.cpp
Due: unittests, viewer

fix: Remove logging statement from createBuffers method in CarRenderable
  modules/Viewer/src/renderables/CarRenderable.cpp
Due: unittests, viewer

fix: Update default point size in PointCloudConfig from 2.0f to 10.0f
  modules/Simulation/include/simulation/configs/SimulationConfig.hpp
Due: unittests, simulation

fix: Improve error handling for binary and resources directory checks in run_adsil.sh.in
  cmake/run_adsil.sh.in
Due: none

fix: Update README to reflect C++20 compatibility and installation instructions
  README.md
Due: none

fix: Exclude extracted_frames_json from resource installation and enable top-level directory in CPack
  CMakeLists.txt
Due: none

feat: Add Dockerfile for building and running ADSIL Analyzer
  .dockerignore
  Dockerfile
Due: none

docs: Add Docker instructions for building and running ADSIL Analyzer
  README.md
Due: none

docs: Update README with build options and binary distribution instructions
  README.md
Due: none

fix: Update test commands in README and add coverage script
  README.md
  tools/test_coverage_locally.sh
Due: none

docs: Add instructions for initializing and refreshing git submodules in README
  README.md
Due: none

docs: Update README with instructions for initializing git submodules
  README.md
Due: none

docs: Add usage instructions and control mappings to README
  README.md
Due: none

fix: Comment out unused IMU fields in Frame and FrameJsonAdapter
  modules/Adapter/src/FrameJsonAdapter.cpp
  modules/Simulation/include/simulation/implementations/Frame.hpp
Due: unittests, adapter, simulation

fix: Comment out IMU data assertions in testFrameWithIMUData
  modules/Simulation/tests/SimulationManagerTest.cpp
Due: none

fix: Enhance Device::toString to include device name in output
  modules/Geometry/src/Device.cpp
Due: unittests, geometry

fix: Change Point and Vector types to math::Point and math::Vector in pointsInFov method
  modules/Geometry/src/Device.cpp
Due: unittests, geometry

fix: Add centroid calculation and point behind device check in pointsInFov method
  modules/Geometry/src/Device.cpp
  modules/Math/include/math/Point.hpp
  modules/Math/src/Point.cpp
Due: unittests, math, geometry

fix: Update button labels in FrameManagerInspectorPanel for consistency
  modules/Viewer/src/panels/FrameManagerInspectorPanel.cpp
Due: unittests, viewer

fix: Add resources to .gitignore to prevent tracking of extracted frames and app data
  .gitignore
Due: none

feat: Implement DataExporter for CSV export of simulation data
  modules/Core/include/core/ResourceLocator.hpp
  modules/Simulation/src/SignalSolver.cpp
  modules/Simulation/src/SimulationManager.cpp
  modules/Utils/include/utils/DataExporter.hpp
  modules/Utils/src/DataExporter.cpp
Due: unittests, core, simulation, utils

feat: Add distance check for points in FOV to filter out-of-range points
  modules/Geometry/src/Device.cpp
Due: unittests, geometry

feat: Hide receivers by default in SimulationManager
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

feat: Add range controls for transmitters and receivers in CarInspectorPanel
  modules/Viewer/include/viewer/imgui/CarInspectorPanel.hpp
  modules/Viewer/src/panels/CarInspectorPanel.cpp
Due: unittests, viewer

feat: Update device range configuration in test_devicePointsInFov
  modules/Geometry/tests/DeviceTest.cpp
Due: none

feat: Update .gitignore to include additional resource files
  .gitignore
Due: none

feat(viewer): add IViewer interface for viewer abstraction
  modules/Viewer/include/viewer/interfaces/IViewer.hpp
Due: unittests, viewer

Path conditions:
  unittests: any of: modules/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  adapter: any of: modules/Adapter/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  math: any of: modules/Math/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  geometry: any of: modules/Geometry/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  spatial: any of: modules/Spatial/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  core: any of: modules/Core/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  vehicle: any of: modules/Vehicle/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  simulation: any of: modules/Simulation/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  utils: any of: modules/Utils/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  viewer: any of: modules/Viewer/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
