Repository rekrom/adsil-simulation: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, adapter, math, geometry, spatial, core, vehicle, simulation, utils, viewer

fix: Update Codecov badge to include token for accurate coverage reporting
  README.md
Due: none

feat: Add comprehensive test suite for Utils module with edge case handling
  modules/Utils/tests/CMakeLists.txt
  modules/Utils/tests/README.md
  modules/Utils/tests/UtilsEdgeCaseTest.cpp
  modules/Utils/tests/UtilsTest.cpp
Due: none

refactor: Move tests subdirectory inclusion under BUILD_TESTING condition for Adapter, Math, Simulation, and Utils modules
  modules/Adapter/CMakeLists.txt
  modules/Math/CMakeLists.txt
  modules/Simulation/CMakeLists.txt
  modules/Utils/CMakeLists.txt
Due: none

feat: Enable testing during CMake configuration by setting BUILD_TESTING to ON
  .github/workflows/cmake-single-platform.yml
Due: none

Add integration and factory tests for geometry shapes
  modules/Geometry/CMakeLists.txt
  modules/Geometry/tests/CMakeLists.txt
  modules/Geometry/tests/CubeTest.cpp
  modules/Geometry/tests/CylinderTest.cpp
  modules/Geometry/tests/DeviceFactoryTest.cpp
  modules/Geometry/tests/DeviceTest.cpp
  modules/Geometry/tests/GeometryIntegrationTest.cpp
  modules/Geometry/tests/ShapeFactoryTest.cpp
Due: none

feat: Add coverage flags to CMake configuration
  CMakeLists.txt
Due: none

refactor: Update JSON keys in DeviceJsonAdapter tests for consistency
  CMakeLists.txt
  modules/Adapter/tests/DeviceJsonAdapterTest.cpp
Due: none

fix: Update gcovr commands in coverage workflow for correct directory handling and error management
  .github/workflows/coverage.yml
Due: none

fix: Enhance coverage workflow with build directory cleanup and improved error handling
  .github/workflows/coverage.yml
Due: none

feat: Add testing support for Core, Geometry, Simulation, Spatial, Utils, Vehicle, and Viewer modules
  modules/Core/CMakeLists.txt
  modules/Core/tests/CMakeLists.txt
  modules/Geometry/tests/CMakeLists.txt
  modules/Spatial/CMakeLists.txt
  modules/Spatial/tests/CMakeLists.txt
  modules/Vehicle/CMakeLists.txt
  modules/Vehicle/tests/CMakeLists.txt
  modules/Viewer/CMakeLists.txt
  modules/Viewer/tests/CMakeLists.txt
Due: none

feat: Set output directories for test executables across all modules
  CMakeLists.txt
  apps/adsil_analyzer/CMakeLists.txt
  modules/Adapter/tests/CMakeLists.txt
  modules/Core/tests/CMakeLists.txt
  modules/Geometry/tests/CMakeLists.txt
  modules/Math/tests/CMakeLists.txt
  modules/Simulation/tests/CMakeLists.txt
  modules/Spatial/tests/CMakeLists.txt
  modules/Utils/tests/CMakeLists.txt
  modules/Vehicle/tests/CMakeLists.txt
  modules/Viewer/tests/CMakeLists.txt
Due: none

feat: Refactor test execution to dynamically run all module tests with improved reporting
  .github/workflows/coverage.yml
Due: none

feat: Enhance dynamic test execution with improved error reporting and timeout handling
  .github/workflows/coverage.yml
Due: none

fix: Update JSON keys in adapter tests for consistency and error propagation
  modules/Adapter/tests/AdapterSystemIntegrationTest.cpp
Due: none

fix: Correct orientation conversion for JSON storage and retrieval in DeviceJsonAdapter
  modules/Adapter/src/DeviceJsonAdapter.cpp
Due: unittests, adapter

fix: Improve error handling in AdapterManager by removing debug output and ensuring meaningful exception messages
  modules/Adapter/include/adapter/AdapterManager.hpp
  modules/Adapter/tests/AdapterManagerEnhancedTest.cpp
Due: unittests, adapter

fix: Improve test execution script by adding error handling and ensuring accurate test count updates
  .github/workflows/coverage.yml
Due: none

fix: Enhance HTML report generation in coverage workflow with improved error handling and informative logging
  .github/workflows/coverage.yml
Due: none

test: Add comprehensive tests for Transform and TransformNode functionality
  modules/Spatial/tests/SpatialTest.cpp
Due: none

fix: Update default car dimensions in Car constructor and add unit tests for Car functionality
  modules/Vehicle/src/Car.cpp
  modules/Vehicle/tests/CarTest.cpp
Due: unittests, vehicle

test: Add comprehensive test suite for SimulationManager functionality
  modules/Simulation/tests/SimulationManagerTest.cpp
Due: none

Fix HTML coverage report generation
  .github/workflows/coverage.yml
Due: none

Add coverage/ to .gitignore
  .gitignore
Due: none

chore: Add comment for test coverage in main function
  apps/adsil_analyzer/main.cpp
Due: none

chore: Update coverage workflow to fetch full history and enhance Codecov configuration
  .github/workflows/coverage.yml
Due: none

Refactor simulation and viewer components
  modules/Adapter/src/FrameJsonAdapter.cpp
  modules/Geometry/src/Device.cpp
  modules/Math/include/math/RotationUtils.hpp
  modules/Math/src/RotationUtils.cpp
  modules/Simulation/include/simulation/SignalSolver.hpp
  modules/Simulation/include/simulation/implementations/InputManager.hpp
  modules/Simulation/src/InputManager.cpp
  modules/Simulation/src/SignalSolver.cpp
  modules/Simulation/src/SimulationManager.cpp
  modules/Spatial/src/Transform.cpp
  modules/Viewer/include/viewer/interfaces/Camera.hpp
  modules/Viewer/include/viewer/renderables/FovPyramidRenderable.hpp
  modules/Viewer/src/Camera.cpp
  modules/Viewer/src/OpenGLViewer.cpp
  modules/Viewer/src/panels/CarInspectorPanel.cpp
  modules/Viewer/src/panels/ViewerInspectorPanel.cpp
  modules/Viewer/src/renderables/CarRenderable.cpp
  modules/Viewer/src/renderables/DeviceRenderable.cpp
  modules/Viewer/src/renderables/FovPyramidRenderable.cpp
  modules/Viewer/src/renderables/GroundRenderable.cpp
  resources/scene.json
  resources/scene_backup.json
  resources/shaders/device.frag.glsl
  resources/shaders/ground.frag.glsl
Due: unittests, adapter, math, geometry, spatial, simulation, viewer

feat: Add processSignals_ method and improve logging in SimulationManager
  modules/Simulation/include/simulation/implementations/SimulationManager.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

refactor: Update logging in SimulationManager and adjust log file handling
  modules/Core/include/core/Logger.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, core, simulation

feat: Add binary distribution support and installation instructions
  CMakeLists.txt
  README.md
  apps/adsil_analyzer/CMakeLists.txt
  cmake/run_adsil.sh.in
Due: none

feat: Add rotation utility tests for axis rotation functionality
  .gitignore
  modules/Math/tests/RotationUtilsTest.cpp
Due: none

feat: Optimize addPoints method to reserve space before insertion
  modules/Math/src/PointCloud.cpp
Due: unittests, math

feat: Implement caching for merged point cloud to improve performance
  modules/Simulation/include/simulation/SimulationScene.hpp
  modules/Simulation/src/SimulationScene.cpp
Due: unittests, simulation

feat: Simplify logging in update method for better traceability
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

feat: Improve buffer management in updateBuffers method for better performance
  modules/Viewer/src/renderables/PointCloudRenderable.cpp
Due: unittests, viewer

feat: Refactor SignalSolver to implement ISolver interface and improve structure
  modules/Simulation/include/simulation/SignalSolver.hpp
  modules/Simulation/src/SignalSolver.cpp
Due: unittests, simulation

feat: Add ISolver interface for solver implementation
  modules/Simulation/include/simulation/interfaces/ISolver.hpp
Due: unittests, simulation

feat: Update SimulationManager to use ISolver interface for signal processing
  modules/Simulation/include/simulation/implementations/SimulationManager.hpp
  modules/Simulation/src/SimulationManager.cpp
Due: unittests, simulation

update the cpp version
  README.md
Due: none

feat: Remove logging from OpenGLViewer destructor for cleaner output
  modules/Viewer/src/OpenGLViewer.cpp
Due: unittests, viewer

Path conditions:
  unittests: any of: modules/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  adapter: any of: modules/Adapter/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  math: any of: modules/Math/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  geometry: any of: modules/Geometry/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  spatial: any of: modules/Spatial/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  core: any of: modules/Core/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  vehicle: any of: modules/Vehicle/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  simulation: any of: modules/Simulation/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  utils: any of: modules/Utils/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
  viewer: any of: modules/Viewer/, but not: external/**/*, build/**/*, cmake/**/*, docs/**/*, tools/**/*, resources/**/*, **/tests/**, **/test/**, **/*Test.cpp, **/*test.cpp, **/CMakeLists.txt, *.md, *.txt, *.yml, *.yaml, *.json
